{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <form action="{% url 'members:sign-out' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">sign out</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'members:sign-in' %}">sign in</a></li>
                    <li><a href="{% url 'members:sign-up' %}">sign up</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>